/framework-lts/.project
/framework-parent/.classpath
/framework-utils/target
/framework-utils/.classpath
/framework-utils/.project
/.project
/.settings
/framework-disconf/.settings
target
/framework-disconf/.classpath
/framework-disconf/.project
.settings
/framework-lts/.classpath
/framework-parent/.project
/framework-disconf/*
/framework-disconf/*.classpath
/framework-disconf/*.gitignore
/framework-disconf/*.project
/framework-kafka/*.project
/framework-kafka/*.classpath
/framework-redis/*.project
/framework-redis/*.classpath
/*.project
.classpath
.project
/framework-mongodb/*.project
/framework-mongodb/*.classpath
/framework-parent/*.project
/framework-parent/*
/framework-parent/*.classpath
/framework-utils/*.classpath
/framework-utils/*.gitignore
/framework-utils/*.project
/framework-utils/*
/*
/*.gitignore
/framework-disconf/target/maven-archiver/pom.properties
